<%- include('../partials/header.ejs') %>
<main>
    <h1>Owner Dashboard</h1>
    <ul>
        <li><a href="/employee">Employee Tools (vehicles, reviews, service requests, contact)</a></li>
        <li><a href="/owner/vehicles/new">Add New Vehicle</a></li>
        <li><a href="/owner/categories">Manage Categories</a></li>
        <li><a href="/owner/users">View All Users</a></li>
    </ul>
</main>
<%- include('../partials/footer.ejs') %>