<%- include('../partials/header.ejs') %>
<main>
    <h1>Employee Dashboard</h1>
    <ul>
        <li><a href="/employee/vehicles">Manage Vehicles</a></li>
        <li><a href="/employee/reviews">Moderate Reviews</a></li>
        <li><a href="/employee/service-requests">Service Requests</a></li>
        <li><a href="/employee/contact-submissions">Contact Submissions</a></li>
    </ul>
</main>
<%- include('../partials/footer.ejs') %>