<%- include('partials/header.ejs') %>

<main>
    <section class="hero">
        <h1>Welcome to Cars Cars and More Cars!</h1>
        <p>Your one-stop shop for quality used and new vehicles.</p>
    </section>
</main>

<%- include('partials/footer.ejs') %>
